################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BrainSpineAnalytics/CopilotIndices/17.14.1368.60722
/.vs/BrainSpineAnalytics
